:root {
}
body {
	margin: 0;
}
main {
	position: relative;
	height: 100vh;
	width: 4000px;
}

.timeline-view {
	position: relative;
	height: 100%;
}

.timeline-view .character{
	position: absolute;
	z-index: 100;
	display: inline-block;
	background: red;
	height: 50px;
	width: 50px;
	left: 0;
	bottom: 100px;
}

.timeline-view .road {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 250px;
	width: 100%;
	background: #000;
	overflow-y: scroll;
}
.intents:checked ~ .timeline-view {
	animation-name: gotointentsview;
	animation-duration: 4s;
	animation-fill-mode: forwards;
}

.defqon:checked {

}
.decibel:checked ~ .character{
	animation-name: gotodecibel;
	animation-duration: 4s;
}

/* Keyframes */
@keyframes gotointents {
	from{transform: translateX(0)}
	to{transform: translateX(2000px)}
}
@keyframes gotointentsview {
	from{transform: translateX(0)}
	to{transform: translateX(-2000px)}
}
